.input_video{
    /* display:none; */
    position: fixed;
    width: 480px; 
    height:288px;
    transform: scaleX(-100%);
}
.container{
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
.output_canvas{
    display:none;
}
.training{
    display:none;
}
body{
    margin: 0;
}

.lock{
    display:block;
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color:black;
}
.lock h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
}